body{
    background: url(../images/wallpaper-php.jpg) no-repeat top center fixed;
    background-size: cover;
}
div::before{
    content: "Curso de PHP para Iniciantes - by Gustavo Guanabara";
    display: block;
    position: relative;
    left: -10px;
    top: -10px;
    background-color: #12293B;
    color: #ffffff;
    padding: 5px;
    width: 560px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}
div{
    width: 550px;
    min-height: 300px;
    margin: 100px auto 100px auto;
    padding: 10px;
    background-color: #ffffffcc;
    box-shadow: 3px 3px 10px rgba(49, 48, 48, 0.836);

}